* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    padding: 20px 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav .nav-right-section li {
    margin-right: 10px;
}

header nav .nav-right-section a {
    color: #000000;
}

header nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

header nav .nav-right-section img {
    width: 30px;
    border-radius: 50%;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;
    height: 92px;
}


/*section input*/

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input .main-input-container input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 6px;
}

main .main-input .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}


/*add icons*/

main .main-input .main-input-container .search-icon {
    width: 18px;
    height: 18px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.4;
}

main .main-input .main-input-container .micro-icon {
    width: 18px;
    height: 18px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}


/*botones*/

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons div button {
    height: 36px;
    background: #f2f2f2;
    border: none;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 8px;
    cursor: pointer;
}

main .main-buttons div button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #c2c2c5;
    color: #222;
}


/*footer*/

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*para dividir en 2 fracciones*/
    align-items: center;
    font-size: 1.3rem;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    /* display: flex;
    justify-content: flex-start; */
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    color: #5f6368;
    margin: 10px;
}

footer ul li a:hover {
    text-decoration-line: underline;
}